/* HEADER */

.order-header{
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    height: 25px;
}

.order-header-status{
    display: flex;
    gap: 10px;
}

.order-number{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order-header-time{
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-header-2{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
}

.order-value{
    font-weight: bold;
}





/* PRODUCTS */

.order-products {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
    height: calc(100vh - 455px); /* FIX TPV 10-03-2025 */
    overflow-y: auto;  /* FIX TPV 11-03-2025 */

    & .order-products-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px 5px 5px;
        border: var(--color-terciary-2) 1px solid;
        border-radius: 8px;
        height: 88px;


        & .order-product-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;

            & .order-product-image {
                width: 70px;
                height: 70px;
                border-radius: 10px;
                background-size: cover;
                background-position: center; 
                background-repeat: no-repeat;
            }

            & .order-product-info {
                & .order-product-name {
                    color: var(--color-process);
                    font-weight: 700;
                    font-size: 14px;
                    margin: 0;
                }

                & .order-product-ingredients {
                    color: var(--color-terciary);
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0;
                }

                & .order-product-attributes {
                    color: var(--color-terciary);
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0;
                    font-style: italic;
                }
            }
        }
        & .order-product-total{
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        & .order-product-quantity{
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: var(--color-terciary);
            font-size: 0.8rem;
        }

        & .order-product-price-container{
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 0.8rem;
            font-weight: bold;
            text-align: end;
        }
    }
}



/* CLIENT DETAILS */

.client-details{
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .client-details-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    & .client-details-header{
        font-weight: bold;
    }
    
    & .client-details-sub{
        color: var(--color-process);
    }

    & .client-details-address{
        display: flex;
        gap: 5px;
        border: 1px var(--color-terciary-2) solid;
        border-radius: 5px;
        padding: 5px;
        height: 110px;
    }

    & .client-details-address-container{
        width: 80%;
    }
}




/*   ORDER SHOPPING CART  */
.product-cart{
    border: 1px lightgrey solid;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
   
    /*border-radius: 10px;*/
    box-sizing: border-box;

    & .product-image{
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        /*border-radius: 10px;*/
    }

    & .background-image{
        background-color: #f1f1f1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    & .product-cart-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        flex-grow: 1;
        padding: 10px;
        width: 90%;
    }

    & .product-details{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0px;
        line-height: 1rem;
    }
    
    & .product-name {
        font-weight: bold;
        font-size: 0.9rem;
        /*white-space: nowrap;*/ /* Evita que el texto ocupe varias líneas */
        overflow: hidden; /* Oculta el texto que exceda los límites */
        text-overflow: ellipsis; /* Muestra puntos suspensivos (...) si el texto es demasiado largo */
    }
    
    & .product-description {
        color: grey;
        font-size: 0.75rem;
        /*white-space: nowrap;*/ /* Evita saltos de línea */
        overflow: hidden; /* Oculta el texto excedente */
        text-overflow: ellipsis; /* Agrega puntos suspensivos para indicar truncamiento */
    }
    
    & .product-details-bottom {
        display: flex;
        justify-content: space-between; /* Espaciado uniforme entre los elementos */
        align-items: center;
        gap: 5px; /* Espaciado entre el precio y las acciones */
    }
    
    & .product-actions{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    
        & svg{
            cursor: pointer;
            min-width: 1.5rem; /* Limita el tamaño de los íconos */
            min-height: 1.5rem;
            padding: 5px;
            border-radius: 5px;
            background-color: lightgrey;
        }
    }
}
