.input-container{
    display: flex;
    align-items: center;
    & input{
        height: 30px;
        width: 100%;
    }
}

.inputType2Container{
    gap: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputLabel{
    font-size: 0.7rem;
    height: 15px;
    font-weight: bold;
}

.inputDescription{
    font-size: 0.6rem;
    color: grey;
}

.inputType2{
    background-color: white;
    border: 1px lightgrey solid;
    border-radius: 5px;
    height: 25px;
}

input[type="date"] {
    background-color: white;
    border: 1px lightgrey solid;
    border-radius: 5px;
    height: 30px;
}

.validationFail{
    border: 1px darkred solid;
}

.validationFailMessage{
    font-size: 0.6rem;
    color: darkred;
}

.inputRight{
    margin-left: -20px;
    color: var(--color-terciary-3);
}