.pagination { justify-content:space-between; width:100%; display:flex; align-items:center; min-height:30px; gap:10px; }
.paginationDropdown { display:flex; justify-content:flex-start; width:100%; gap:10px; align-items:center; }
.paginationText { margin-top:3px; }
.paginationPages { display:flex; justify-content:flex-end; width:100%; gap:8px; align-items:center; padding-right:5px; flex-wrap:wrap; }
.pageBtn { padding:4px 9px; background:#fff; border-radius:5px; cursor:pointer; }
.pageBtnActive { border:1px solid #0057ff; }
@media (max-width: 992px) { .pagination { flex-wrap:wrap; } }
@media (max-width: 600px) { .paginationPages { justify-content:center; } .paginationDropdown { justify-content:center; } }
